html 
    head
        title= pageTitle
    body
        h2= loginHeading
        form(action="/admin/dashboard" method="post")
            input(name="username" placeholder="Enter your username" type="text")
            input(name="password" placeholder="Enter your password" type="password")
            button(type="submit" name="login")= loginButton